body
{
	background: url(background.jpg);
}

h1
{
	text-transform : uppercase;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: white;
	margin: 50px;
}

form
{
	background-color: gray;
	margin: auto;
	padding: 50px;
	width:700px;

}